/* flat dark bg */
body{
    --divider-color: transparent;
}

.workspace-split.mod-horizontal.mod-left-split {
    overflow: hidden;
}

.mod-left-split {
   margin-right: 0.5px;
}

.menu {
    background: var(--background-secondary) !important;
}

/* Tabs */
.view-header-title-container:not(.mod-at-end):after {
    display: none;
}

//Re-align tab sep
.workspace .mod-root .workspace-tab-header-inner::after {
    right: -1px;
}

.view-header {
    background: var(--tab-background-active) !important;
}
.workspace-tab-header-container {
    background: none;
}

.workspace-tab-header-container-inner{
    margin-left: -15px;
}

body:not(.is-popout-window) .workspace-tab-header-container, .workspace-tabs, .mod-root, .app-container, 
.horizontal-main-container, .workspace, .mod-left, .mod-right, .workspace-tab-container, .workspace-leaf:not(.nav-folder-title) {
    background: none !important;
}
.workspace-tab-header {
    border: none;
}

.workspace-ribbon.side-dock-ribbon.mod-left::before {
    background: none;
}

// Tooltips
.tooltip {
    background: var(--tooltip-color) !important;
    color: var(--onSurfaceVariant) !important;
}
.tooltip .tooltip-arrow {
    border-bottom-color: var(--tooltip-color) !important;
}
.tooltip.mod-right .tooltip-arrow {
    border-bottom-color: transparent !important;
    border-right-color: var(--tooltip-color) !important;
}
.tooltip.mod-left .tooltip-arrow {
    border-bottom-color: transparent !important;
    border-left-color: var(--tooltip-color) !important;
}
.tooltip.mod-top .tooltip-arrow {
    border-bottom-color: transparent !important;
    border-top-color: var(--tooltip-color) !important;
}
body.disable-tooltip-animation {
    animation: none !important;
}

// Body background
body.theme-light {
    background-color: var(--surfaceVariant);
    --tooltip-color: white;
}

body.theme-dark {
    background-color: black;
    --tooltip-color: var(--surfaceVariant);
}

body.mod-windows.enable-mica, body.mod-mac.enable-mica, body.mod-linux.enable-mica {
    background-color: transparent !important;
}
body.mod-windows.enable-mica.is-popout-window.theme-dark {
    background: #202020 !important;
}


body:not(.is-phone) {
    --pane-separation: 6px;

//V split separation
    .mod-root {
        div.mod-top, div.mod-horizontal .workspace-tabs{
            padding-right: var(--pane-separation);
        }

        .mod-horizontal .workspace-leaf {
            border-bottom-left-radius:  var(--radius-m);
            border-bottom-right-radius: var(--radius-m);
            margin-bottom: -5px;
        }

        div:last-of-type.mod-top, div:last-of-type.mod-horizontal .workspace-tabs {
            padding-right: 1px;
        }
    }

    hr.workspace-leaf-resize-handle {
        min-width:  var(--pane-separation);
        min-height: var(--pane-separation);
    }
}

// Stacked tabs
.mod-stacked .workspace-tab-header {
    background: var(--surfaceVariant) !important;
    border-top-left-radius: var(--radius-m) !important;
    border-bottom-left-radius: var(--radius-m) !important;
    margin-bottom: 0 !important;
    padding-bottom: 5px !important;
}

.mod-stacked {
    .workspace-leaf, .workspace-leaf-content {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: var(--radius-m) !important;
        margin-right: 5px !important;
    }
    .view-header {
        border-top-left-radius: 0 !important;
        border-top-right-radius: var(--radius-m) !important;
    }
}

.internal-embed {
    border: none !important;
    // background-color: var(--background-secondary);
}
.markdown-embed-content {
    background-color: var(--background-secondary);
    border-radius: var(--radius-l);
}

.mod-root {
    .markdown-embed-content {
      padding: 0 20px;
    }
}

.canvas-node-container {
    .markdown-embed-content {
        border-radius: inherit;
        padding: inherit;
        background-color: var(--background-secondary);
    }
}
.canvas-node.is-themed {
    .markdown-embed-content {
        background-color: transparent;
    }
}
body.theme-dark .canvas-wrapper {
    .canvas-node {
        box-shadow: #00000060 0px 3px 5px;
        border-radius: var(--radius-l);
    }
    .canvas-node.is-themed {
        .markdown-embed-content {
            background-color: #FFFFFF10;
        }
    }
}
body.theme-light .canvas-wrapper {
    .canvas-node {
        box-shadow: #00000030 0px 3px 10px;
        border: none;
        border-radius: var(--radius-l);
    }
    .canvas-node-container {
        border: none;
    }
    --shadow-stationary: none;
    --canvas-dot-pattern: #BBB;
}
.mod-inside-iframe {
    background-color: var(--background-secondary);
}

// Mobile popups
.notice-container .notice {
    background-color: var(--surfaceVariant) !important;
    color: var(--onSurfaceVariant) !important;
}