@use 'body';

// -----------------------
// Breadcrumbs
// -----------------------

.BC-trail {
    margin-top: 5px !important;
    @include body.label-medium();
    color: var(--secondary);
}


// -----------------------
// Dataview
// -----------------------
// Tables
//.markdown-rendered table {
//    border: 1px solid var(--surface-variant);
//    border-radius: var(--big-radius);
//}
//.table-view-table>thead>tr>th {
    //@include body.label-small();
    //color: var(--secondary);
//}

// -----------------------
// Cooklang
// -----------------------

.timer {
    font-style: italic;
}

.timer::before {
    content: "⏱ ";
    font-style: normal;
}

.cm-metadata,
.cm-metadata-key {
    @include body.body-medium();
    color: var(--secondary);
    font-family: var(--font-monospace);
}

.workspace-leaf-content[data-type=cook] .cm-formatting {
    color: var(--surface-variant) !important;
}

// --------------------------
// ExcaliDraw (new addition)
// --------------------------

.excalidraw div, .excalidraw.theme--dark {
    --color-primary-light: var(--color-accent);
    --color-primary-darker: var(--icon-color-focused);
    --color-primary-darkest: var(--color-accent);
    --focus-highlight-color: var(--color-accent);
    --select-highlight-color: var(--color-accent);
    --color-selection: var(--color-accent);
    --icon-fill-color: var(--text-normal);
    --text-primary-color: var(--text-normal);
    --island-bg-color: var(--background-primary);
    --shadow-island: 0;
    * {
        border: none !important;
    }
}

.view-content.excalidraw-view {
    .dropdown-menu .dropdown-menu-item-base {
        color: inherit !important;
    }
    .HelpDialog__key {
        color: var(--on-accent);
    }

    .color-picker {
        border: 1px solid var(--window-border);
        // -webkit-backdrop-filter: blur(var(--blur-intensity));
        // backdrop-filter: blur(var(--blur-intensity));
        background: var(--background-secondary) !important;
        // box-shadow: 0 0 0 2px 2px #0005;
        border-radius: 8px;
    }

     .zoom-actions,
    .undo-redo-buttons,
    .layer-ui__wrapper__footer-right,
    .layer-ui__wrapper__footer-right div,
    .App-bottom-bar {
    background: none;
    border: none !important;
    }
    .App-toolbar,
    .App-menu__left,
    .library-button,
    .ToolIcon.ToolIcon_type_floating div,
    .App-menu_top__left .menu-button,
    .layer-ui__wrapper__footer-right .ToolIcon__icon,
    .mobile-misc-tools-container  {
        // -webkit-backdrop-filter: blur(var(--blur-intensity));
        // backdrop-filter: blur(var(--blur-intensity));
        background: var(--surface) !important;
        // border: 1px solid var(--window-border);
        overflow: visible;
        // box-shadow: 0 0 4px 1px #0006;
    }
    .zoom-actions,
    .undo-redo-buttons  {
        // -webkit-backdrop-filter: blur(var(--blur-intensity));
        // backdrop-filter: blur(var(--blur-intensity));
        background: var(--surface) !important;
        // box-shadow: 0 0 0 2px 2px #0005;

    }

    .ToolIcon svg{
        mix-blend-mode: luminosity;
    }
    .library-button{
        height: 36px !important;
        width: 36px;
        .library-button__label {
            display: none;
        }
    }
    .App-menu_top__left .menu-button,
    .layer-ui__wrapper__footer-right .ToolIcon__icon,
    .ToolIcon_type_floating .ToolIcon__icon
    {
        height: 36px;
        width: 36px;
    }


    .App-bottom-bar .App-toolbar{
        margin-top: 0;
    }
    .view-header{
        z-index: 2;
    }

    .mobile-misc-tools-container div{
        // width: 32px !important;
        border: none !important;
        border-radius: 6px;
    }
    .App-toolbar {
        border-radius: 10px;
    }
    .dropdown-menu-button {
        height: 36px;
        width: 36px;
        background-color: var(--surface);
    }
    .App-bottom-bar {
        div.Island:last-child {
            margin-left: 8px !important;
            padding: 5.5px;
            background-color: var(--surface);
            border-radius: 9px;
        }
    }

    .App-top-bar .mobile-misc-tools-container {
        .ToolIcon {
            margin-left: 4px;
            margin-bottom: 4px;
        }
        .ToolIcon:first-child {
            margin-left: inherit;
            .ToolIcon__icon {
                border-radius: 10px;
            }
            margin-bottom: -5px;
        }
        right: -10px;
        // padding-bottom: 4px;
    }

    .layer-ui__wrapper__top-right {
        .ToolIcon {
            margin-right: 8px;
        }
    }

}

body.pen-mode .view-content.excalidraw-view {
    // Sidebar
    .App-top-bar {
        flex-direction: row !important;
        .Stack_horizontal {
            grid-auto-flow: row;

        }
        .Stack_vertical {
            margin-bottom: 170px;
        }
        // Right bar
        .mobile-misc-tools-container {
            right: inherit;
            top: inherit;
            bottom: 0;
            border-radius: 10px;
        }
    }
    .App-bottom-bar {
        padding-left: 40px;
    }
}