@use 'body';

// -----------------------
// Breadcrumbs
// -----------------------

.BC-trail {
    margin-top: 5px !important;
    @include body.label-medium();
    color: var(--secondary);
}


// -----------------------
// Dataview
// -----------------------
// Tables
//.markdown-rendered table {
//    border: 1px solid var(--surface-variant);
//    border-radius: var(--big-radius);
//}
//.table-view-table>thead>tr>th {
    //@include body.label-small();
    //color: var(--secondary);
//}

// -----------------------
// Cooklang
// -----------------------

.timer {
    font-style: italic;
}

.timer::before {
    content: "⏱ ";
    font-style: normal;
}

.cm-metadata,
.cm-metadata-key {
    @include body.body-medium();
    color: var(--secondary);
    font-family: var(--font-monospace);
}

.workspace-leaf-content[data-type=cook] .cm-formatting {
    color: var(--surface-variant) !important;
}

// --------------------------
// ExcaliDraw (new addition)
// --------------------------


// .mod-root .cm-scroller {
//     margin-top: calc(var(--header-height) * -1);
//     height: calc(100% + var(--header-height));
// }

// .view-content.excalidraw-view .App-toolbar,
// .view-content.excalidraw-view .App-menu_top__left,
// .view-content.excalidraw-view .layer-ui__wrapper__top-right {
//     margin-top: var(--header-height);
// }
.view-content.excalidraw-view .zoom-actions,
.view-content.excalidraw-view .undo-redo-buttons,
.view-content.excalidraw-view .layer-ui__wrapper__footer-right,
.view-content.excalidraw-view .layer-ui__wrapper__footer-right div,
.view-content.excalidraw-view .App-bottom-bar {
   background: none;
   border: none !important;
}
.view-content.excalidraw-view .App-toolbar,
.view-content.excalidraw-view .App-menu__left,
.view-content.excalidraw-view .library-button,
.view-content.excalidraw-view .ToolIcon.ToolIcon_type_floating div,
.view-content.excalidraw-view .App-menu_top__left .menu-button,
.view-content.excalidraw-view .layer-ui__wrapper__footer-right .ToolIcon__icon,
.view-content.excalidraw-view .mobile-misc-tools-container  {
    // -webkit-backdrop-filter: blur(var(--blur-intensity));
    // backdrop-filter: blur(var(--blur-intensity));
    background: var(--background-secondary) !important;
    // border: 1px solid var(--window-border);
    overflow: visible;
    box-shadow: 0 0 4px 1px #0006;
}
.view-content.excalidraw-view .zoom-actions,
.view-content.excalidraw-view .undo-redo-buttons  {
    // -webkit-backdrop-filter: blur(var(--blur-intensity));
    // backdrop-filter: blur(var(--blur-intensity));
    background: var(--background-secondary) !important;
    box-shadow: 0 0 0 2px 2px #0005;

}

.view-content.excalidraw-view .ToolIcon svg{
    mix-blend-mode: luminosity;
}
.view-content.excalidraw-view .library-button{
    height: 32px !important;
}
.view-content.excalidraw-view .App-menu_top__left .menu-button,
.view-content.excalidraw-view .layer-ui__wrapper__footer-right .ToolIcon__icon
 {
    height: 38px;
    width: 38px;
}

.view-content.excalidraw-view .App-bottom-bar .App-toolbar{
    margin-top: 0;
}
.view-header{
    z-index: 2;
}

.view-content.excalidraw-view .mobile-misc-tools-container div{
    // width: 32px !important;
    border: none !important;
    border-radius: 6px;
}
.view-content.excalidraw-view .App-toolbar {
    border-radius: 8px !important;
}
.excalidraw div, .excalidraw.theme--dark {
    --color-primary-light: var(--color-accent-1);
    --color-primary-darker: var(--icon-color-focused);
    --color-primary-darkest: var(--color-accent);
    --focus-highlight-color: var(--color-accent-2);
    --select-highlight-color: var(--color-accent-2);
    --color-selection: var(--color-accent);
    --icon-fill-color: var(--text-normal);
    --text-primary-color: var(--text-normal);
    --island-bg-color: var(--surface);

    * {
        border: none !important;
    }
}

.excalidraw .dropdown-menu .dropdown-menu-item-base {
    color: inherit !important;
}

.view-content.excalidraw-view .color-picker {
    // transform: translate(-45px, -110px);
    border: 1px solid var(--window-border);
    // -webkit-backdrop-filter: blur(var(--blur-intensity));
    // backdrop-filter: blur(var(--blur-intensity));
    background: var(--background-secondary) !important;
    box-shadow: 0 0 0 2px 2px #0005;

    border-radius: 8px;
}
// .view-content.excalidraw-view .App-bottom-bar .color-picker {
//     transform: none;
// }
// input[type=range]::-webkit-slider-thumb {
//     background: var(--color-accent);
// }
// input[type=range]::-webkit-slider-thumb:hover {
//     background: var(--icon-color-focused);
//     border: none;
// }