@use 'body';

// -----------------------
// Breadcrumbs
// -----------------------

.BC-trail {
    margin-top: 5px !important;
    @include body.label-medium();
    color: var(--secondary);
}


// -----------------------
// Dataview
// -----------------------
// Tables
//.markdown-rendered table {
//    border: 1px solid var(--surface-variant);
//    border-radius: var(--big-radius);
//}
//.table-view-table>thead>tr>th {
    //@include body.label-small();
    //color: var(--secondary);
//}

// -----------------------
// Cooklang
// -----------------------

.timer {
    font-style: italic;
}

.timer::before {
    content: "⏱ ";
    font-style: normal;
}

.cm-metadata,
.cm-metadata-key {
    @include body.body-medium();
    color: var(--secondary);
    font-family: var(--font-monospace);
}

.workspace-leaf-content[data-type=cook] .cm-formatting {
    color: var(--surface-variant) !important;
}

// --------------------------
// ExcaliDraw (new addition)
// --------------------------

.excalidraw div, .excalidraw.theme--dark {
    --color-primary-light: var(--color-accent);
    --color-primary-darker: var(--icon-color-focused);
    --color-primary-darkest: var(--color-accent);
    --focus-highlight-color: var(--color-accent);
    --select-highlight-color: var(--color-accent);
    --color-selection: var(--color-accent);
    --icon-fill-color: var(--text-normal);
    --text-primary-color: var(--text-normal);
    --island-bg-color: var(--background-primary);
    --shadow-island: 0;
    * {
        border: none !important;
    }
}

.view-content.excalidraw-view {
    --excalidraw-button-size: 32px;

    div, .dropdown-menu .dropdown-menu-item-base {
        color: var(--text-normal) !important;
    }
    .HelpDialog__key {
        color: var(--on-accent);
    }

    .color-picker {
        border: 1px solid var(--window-border);
        // -webkit-backdrop-filter: blur(var(--blur-intensity));
        // backdrop-filter: blur(var(--blur-intensity));
        background: var(--background-secondary) !important;
        // box-shadow: 0 0 0 2px 2px #0005;
        border-radius: 8px;
    }

     .zoom-actions,
    .undo-redo-buttons,
    .layer-ui__wrapper__footer-right,
    .layer-ui__wrapper__footer-right div,
    .App-bottom-bar {
    background: none;
    border: none !important;
    }
    .App-toolbar,
    .App-menu__left,
    .sidebar-trigger,
    .ToolIcon.ToolIcon_type_floating div,
    .App-menu_top__left .menu-button,
    .layer-ui__wrapper__footer-right .ToolIcon__icon,
    .mobile-misc-tools-container  {
        // -webkit-backdrop-filter: blur(var(--blur-intensity));
        // backdrop-filter: blur(var(--blur-intensity));
        background: var(--surface) !important;
        // border: 1px solid var(--window-border);
        // overflow: visible;
        // box-shadow: 0 0 4px 1px #0006;
        button:hover {
            background: var(--surface-variant) !important;
        }
    }
    .zoom-actions,
    .undo-redo-buttons  {
        // -webkit-backdrop-filter: blur(var(--blur-intensity));
        // backdrop-filter: blur(var(--blur-intensity));
        background: var(--surface) !important;
        // box-shadow: 0 0 0 2px 2px #0005;

    }

    .ToolIcon svg{
        mix-blend-mode: luminosity;
    }

    .ToolIcon.Shape, .dropdown-menu-button {
        height: var(--excalidraw-button-size) !important;
        width: var(--excalidraw-button-size) !important;
        background-color: var(--surface);
        :hover {
            background: var(--surface-variant) !important;
        }
    }
    .ToolIcon__icon {
        height: var(--excalidraw-button-size) !important;
        width: var(--excalidraw-button-size) !important;
    }

    .App-bottom-bar .App-toolbar{
        margin-top: 0;
    }
    .view-header{
        z-index: 2;
    }

    .mobile-misc-tools-container div{
        // width: 32px !important;
        border: none !important;
        border-radius: 6px;
    }
    .App-toolbar {
        border-radius: 10px;
    }
    .App-bottom-bar {
        div.Island:last-child {
            margin-left: 8px !important;
            padding: 5.5px;
            background-color: var(--surface);
            border-radius: 9px;
        }
        button:hover {
            background: var(--surface-variant) !important;
        }
    }
    .ToolIcon__icon:hover {
        background: var(--surface-variant) !important;
    }

    .App-top-bar .mobile-misc-tools-container {
        .ToolIcon {
            margin-left: 4px;
            margin-right: 4px;
            margin-bottom: 3px;
        }
        .ToolIcon:first-child {
            // margin-left: inherit;
            margin-top: 4px;
            .ToolIcon__icon {
                border-radius: 6px;
            }
            // margin-bottom: -5px;
        }
        .ToolIcon:last-child {
            margin-bottom: 4px;
        }
        right: -10px;
        // padding-bottom: 4px;

    }

    .layer-ui__wrapper__top-right .ToolIcon {
        margin-right: 8px;
    }

    .mobile-misc-tools-container .ToolIcon_type_floating:not(:first-child) .ToolIcon__icon { 
        svg {
            fill: var(--on-surface) !important;
        }
    }

    // Library button container
    .mobile-misc-tools-container label:not(.ToolIcon) {
        width: var(--excalidraw-button-size);
        padding: 0;
        margin: 3px 4px;
        margin-top: -1px;
        :hover {
            background: var(--surface-variant) !important;
        }
    }
    .sidebar-trigger.default-sidebar-trigger {
        height: var(--excalidraw-button-size);
        width: var(--excalidraw-button-size);
        margin: 0 !important;
        padding: calc(var(--excalidraw-button-size) / 2 - 8px) !important;
        display: block;
        .library-button__label {
            display: none;
        }
    }

    // Right-click
    .popover {
        border-radius: 10px;
        box-shadow: none;
        ul, ol {
            background-color: var(--surface) !important;
        }
        li button:hover {
            background-color: var(--surface-variant) !important;
        }
    }
}

body.pen-mode .view-content.excalidraw-view {
    @media only screen and (max-height: 700px) {
        --excalidraw-button-size: 25px;
    }
    @media only screen and (max-height: 580px) {
        --excalidraw-button-size: 20px;
    }
    @media only screen and (max-height: 500px) {
        --excalidraw-button-size: 15px;
    }

    // Sidebar
    .App-top-bar {
        flex-direction: row !important;
        .Stack_horizontal {
            grid-auto-flow: row;

        }
        .Stack_vertical {
            margin-bottom: 170px;
        }
        // Right bar
        .mobile-misc-tools-container {
            right: inherit;
            top: inherit;
            bottom: 0;
            border-radius: 10px;
        }
        .App-toolbar__divider {
            height: 1px;
            width: auto;
        }
    }
    .App-bottom-bar {
        padding-left: calc(var(--excalidraw-button-size) + 12px);
    }
    .excalidraw--mobile .HintViewer span {
        position: absolute !important;
        top: auto !important;
        bottom: 10px !important;
        right: 10px !important;
        opacity: 0.2;
    }
    .excalidraw--mobile .welcome-screen-center {
        display: none !important;
    }
    .App-toolbar__extra-tools-dropdown {
        left: 0 !important;
    }
}
